/*-----------------HEADER-------------------*/

html, body{
    width: 100%;
    margin: 0em;
    padding: 0em;
    background-color: #272727;
}
.hero{
    width: 100%;
}
.hero img{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(73, 2, 73);
    position: fixed;
    top: 0;
    width: 100%
}

.menu .link{
    margin: 1em 5em 1em 5em;
    text-decoration: none;
    color: aliceblue;
}


/*----------BODY------------------*/

body{
    width: 100%;
}

.section1{
    width: 100%;
    margin: 0em;
}

.title-section{
    color: #fff;
    margin: 0em;
    padding: 0em 2em 0em 2em;
}
.toprecomendations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em 10em 0em 10em;
}
.card{
    width: 23.7em;
    height: 13.5em;  
    margin: 1em;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.card:hover{
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 20px rgba(0,0,0,2.5)
}


/*-------LORENZO-CONTAINER----------*/
.lorenzo-container{
    margin-top: 5em;
    margin-bottom: 5em;
}
.lorenzo-container .container{
    background-image: url(/Img/Logo-Favicon/Banner/background.webp);
    font-size: 23px;
    display: flex;
    background-size: cover;
    justify-content: center;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.lorenzo-container .container .content{
    max-width: 1200px;
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lorenzo-container .container .content picture {
    position: relative;
    display: flex;
}

.lorenzo-container .container .content picture img{
    margin-left:  30px;
    height: 300px;
}

.lorenzo-container .container .content .text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lorenzo-container .container .content .text img{
    margin-bottom: 30px;
    width: 100px;
}

.text-lorenzo-container{
    font-size: 25px;
    color: #fff;
}
.nombre-lorenzo{
    font-size: 20px;
    color: #fff;
}

/*------ASIDE-SECTION-------*/
.aside-section{
    width: 100%;
    min-width: 1200px;
    flex-wrap: wrap;
}
.aside-section .container{
    width: 100%;
    min-width: 1200px;
    display: flex;
}
.trucos-container{
    margin: 0em 10em 0em 10em;
    padding: 0em;
}
.trucos{
    text-align: center;
    color: rgb(182, 48, 182);
}

.box{
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    margin: 0em 0em 0em 0em;
}

.noticias-container{
    width: 100%;
    margin: 0em 10em 0em 10em;
    padding: 0em;
}
.noticia-title{
    text-align: center;
    color: rgb(182, 48, 182);
}
.noticias{
    display: flex;
    flex-wrap: wrap;
}
.card-notice{
    width: 23em;
    height: 25em;  
    margin: 1em;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}
.card-notice h1{
    text-align: center;
    margin: 0.2em;
    padding: 0em;
}
.card-notice .date{
    margin: 0em 0em 0em 0.5em;
    padding: 0em;
}
.card-notice hr {
    border: 1px purple solid;
}
.card-notice p{
    text-align: center;
    margin: 0.7em;
}

/*------RANKING-SECTION---------*/
.ranking-section{
    background-color: #1b1b1b;
}
.ranking-title{
    text-align: center;
    margin-top: 5em;
    padding: 0.5em 0em 0em 0em;
    color: purple;
}
.ranking-persons{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 5em;
    margin-bottom: 0em;
    padding: 0em;
}
.logo-person{
    width: 100px;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0em;
} 
.ranking-persons h3{
    text-align: center;
    color: rgb(0, 129, 129);
}
.ranking-persons p{
    text-align: center;
    color: purple;
}



.footer-content{
    background-color: rgb(77, 1, 77);
    margin: 0em 0em 0em 0em;
    padding: 0.5em 0em 0.5em 0em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    box-shadow: #1b1b1b;
}

.rrss{
    width: 30em;
    text-align: left;
    align-self: flex-start;
}
.footer-content .rrss .text{
    text-decoration: none;
    color: black;
    text-shadow: #1b1b1b;
    margin: 0.8em;
}
.copyright{
    width: 60em;
    text-align: center;
    align-self: flex-end;
    margin: 0em;
    padding: 0em;
}
.direction{
    width: 30em;
    text-align: right;
    align-items: flex-start;
    margin-right: 0.8em;

}
.direction .text{
    text-decoration: none;
    color: black;
}

/*=======================================================================================*/

.hero-learn{
    margin-top: 2em;
    padding: 0.5em;
}

.contenedor-learn {
    width: 100%;
	display: table;
}

h1 { 
    
	position: relative; 
	float: left;
	background: #272727;
	color: #fff;
	font-size: 1em;
}

h1 span {
    position:absolute;
    right:0;
    width:0;
	background: #272727;
    border-left: 1px solid #000;
    animation: escribir 5s steps(10) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}


/*GENEROS*/

.contenedor-seccion{
    max-width: 1200px;
    align-self: center;
    width: 100%;
}
.titulo-categorias h2{
    font-size: 19px;
}
.lista-juegos{
    margin-bottom: -10px;
}
.accion{
    display: flex;
}
.name{
    z-index: 	1;
}
.cover{
    padding-top: 0;
    position: static;
}
.background{
    padding-top: 56%;
    display: flex;
    z-index: -1;
}
.background img{
    border-radius: 7px;
}