/*HEADEr*/

html, body{
    width: 100%;
    margin: 0em;
    padding: 0em;
    background-color: #272727;
}
.hero{
    width: 100%;
}
.hero img{
    width: 100%;
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(73, 2, 73);
    position: fixed;
    top: 0;
    width: 100%
}

.menu .link{
    margin: 1em 5em 1em 5em;
    text-decoration: none;
    color: aliceblue;
}


/*BODY*/

body{
    width: 100%;
}

.section1{
    width: 100%;
    margin: 0em;
}

.title-section{
    color: #fff;
    margin: 0em;
    padding: 0em 2em 0em 2em;
}
.toprecomendations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em 10em 0em 10em;
}
.card{
    width: 23.7em;
    height: 13.5em;  
    margin: 1em;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.card:hover{
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 20px rgba(0,0,0,2.5)
}


.section2{
    display: flex;
    margin: 5em 10em 0em 10em;
    background-color: transparent;
    
}

.title-trucos{
    text-align: center;
}
.Trucos{
    margin: 0em 0em 0em 5em;
}

.notice{
    text-align: center;
}

.section-notice{

    margin: 0em 0em 0em 15em;
}

.notice-container{
    display: flex;
    flex-wrap: wrap;
}

.card-notice{
    width: 23em;
    height: 25em;  
    margin: 1em;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}
.card-notice h1{
    text-align: center;
    margin: 0.2em;
    padding: 0em;
}
.card-notice .date{
    margin: 0em 0em 0em 0.5em;
    padding: 0em;
}
.card-notice hr {
    border: 1px purple solid;
}
.card-notice p{
    text-align: center;
    margin: 0.7em;
}

.section3{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5em;
}

.banner {;
    height: 38em;  
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 1px 5px 30px rgba(159, 90, 253);, 1
}

.ranking-title{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2.5em;
    color: purple;
}

.ranking-persons{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 5em;
    margin-bottom: 0em;
    padding: 0em;
}

.logo-person{
    width: 100px;
    margin-left: 5em;
    margin-right: 5em;
    padding: 0em;
} 

.ranking-persons h3{
    text-align: center;
    color: rgb(0, 129, 129);
}

.ranking-persons p{
    text-align: center;
    color: purple;
}

.footer-content{
    background-color: rgb(77, 1, 77);
    margin: 5em 0em 0em 0em;
    padding: 0em 2em 0em 0em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.rrss{
    width: 30em;
    text-align: left;
    align-self: flex-start;
}
.copyright{
    width: 60em;
    text-align: center;
    align-self: flex-end;
    margin: 0em;
    padding: 0em;
}
.direction{
    width: 30em;
    text-align: right;
    align-items: flex-start;
}